@import '../../global.scss';

.portfolioList{
    font-size: 15px;
    margin-right: 50px;
    padding: 7px;
    color: #fff;
    margin-top: 20px;
    margin-bottom: 20px;
    cursor: pointer;
    @include mobile{
        font-size: 1rem;             
    }

  &.active{
      color: rgb(183, 235, 100);
  }  
}