.about{
    background-color: rgb(51, 50, 50);
    width: 100%;
    height: 100%;
    padding: 10rem 0rem;
    padding-top: 2.5rem;
    font-size: 16px;
}

.headingContainer{
    margin-left: 45%;
    margin-bottom: 8%;
}

.heading{
    font-size: 30px;
    font-weight: 300;
    color: #fff;
    margin-top: 10px;
    margin-bottom: 50px;
    text-shadow: 2px 3px 0 rgba(26, 13, 13, 0.952);
}

span{
    font-size: 30px;
    font-weight: 800;
}

.vertical-timeline-element-content{ 
     box-shadow: 0 0.25em 0.5em 0 rgba(0,0,0,0, 0.25), 0 0.4em 1.25em 0 rgba(24, 15, 15, 0.15) !important;
    padding: 2em 3em !important;
}

.date{
    color: #fff;
    font-size: 20px;
}

.vertical-timeline-element-subtitle{
    color: rgb(72, 72, 247) !important;
    margin-top: 5px !important;
}

@media screen and (max-width: 820px) { 

    .headingContainer{
        margin-left: 30%;
        margin-bottom: 8%;
    }

    .heading{
        color: #fff;
        margin-left:5% ;
        margin-bottom: 5rem;
        font-size: 1.5rem;
        text-shadow: 2px 3px 0 rgba(10, 3, 2, 0.952);
    }   

    .date{
        color: black;
        font-size: 20px;
    }


}