@import '../../global.scss';

.footer{
    background-color: rgb(51, 50, 50);
    width: 100%;
    padding: 2rem 0rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   

    .desc{
        p{
            color: rgb(148, 148, 148);
            font-size: 1rem;
            margin-bottom: 50px;
            @include mobile{
                font-size: .8rem;   
            }
        }
    }

    .social-icons{
        display: flex;
        a{
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: rgb(70, 67, 67);
            padding: 15px;
            margin-left: 10px;
            color: rgb(183, 235, 100);
            border-radius: 50%;
            @include mobile{
                padding: .8rem;   
            }
        }
    }
}