@import '../../global.scss';

.testimonials{
    background-color: rgb(51, 50, 50);
    width: 100%;
    height: 100%;
    padding: 0rem 0rem 5rem 0rem;
    overflow: hidden;

    h2{
        font-size: 30px;
        color: #fff;
        font-weight: 400;
        margin-top: 50px;
        // margin-left: 40%;
        margin-bottom: 5%;
        text-shadow: 2px 3px 0 rgba(10, 3, 2, 0.952);
        display: flex;
        justify-content: center;
        align-items: center; 
        @include mobile{
            font-size: 20px;
        }

        span{
            font-size: 30;
            font-weight: 800;
            @include mobile{
                font-size: 20px;
                font-weight: 700;
                padding-left: 5px;
            }
        }
    }
    
    .test_container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 100px;
        padding: 2rem 20rem;
        @include mobile{
            grid-template-columns: repeat(1,1fr);
            height:100%;
            padding:0rem 4rem;
            grid-gap: 50px;
       
        }


        .card{
            position: relative;
            border-left-color: black ;
            width: 100%;
            height: 100%;
            border-radius: 10px;
            background-color: rgb(68, 66, 66);

            &::before{
                top: -1.5rem;
                right: 6rem;
                border: .8rem solid transparent;
                box-shadow: 0px 0px 15px -8px black;
            }
            @include mobile{
                width: 100%;
                height: 100%;
             
                justify-content: center;

            }


            .top{
                position: absolute;
                top: 0;
                left: -100px;
                display: flex;
                align-items: center;
                justify-content: center;
                @include mobile{
                    left: -80px;
    
                }

                .userImg {
                    height: 60px;
                    width: 60px;
                    border-radius: 50%;
                    object-fit: cover;
                    margin: 0 30px;
                    @include mobile{
                        height: 40px;
                        width: 40px;
                        margin-bottom: 5px;
                    }

                }

            }

            .center{
                border-radius: 10px;
                padding: 20px 30px;
                color: #fff;
                font-size: .8rem;
                line-height: 30px;
                @include mobile{
                    padding: 10px;
                    height: 80px;
                    font-size: 10px;
                }
            }

            .bottom{
                padding: 0px 25px;
                color: #fff;
                font-size: 15px;
                font-weight: 300;
                @include mobile{
                    font-size: 10px;
                    margin-top: 30px;
                }

                h4{
                    margin-bottom: 15px;
                }

                
            }
        }

        
    }
}