
.postContainer{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  padding: 0 5rem;
}

.post{
  width: 300px;
  margin: 0px 25px 50px 25px;
}
.imgContainer{
  max-width: 100%;
  height: 380px;
  overflow: hidden;
}

.postImg{
  object-fit: cover;
  border-radius: 7px;
  display: block;
  width: 100%;
  max-width: 100%;
  height: 100%;
  max-height: 100%;
  object-fit: cover;
  transition: all 0.2s linear;
}

.post:hover .postImg{
  transform: scale(1.2);
  margin-bottom: 20px;
}

.postInfo{
  display: flex;
  flex-direction: column;
  margin-top: 15px;
  margin-bottom: 25px;
}

.postItems{
  width: 350px;
  height: 50px;
  display: flex;
  color: #fff;
}

.postcat{
  font-size: 15px;
  color: #be9656;
  line-height: 20px;
  margin-top: 15px;
  margin-right: 10px;
  cursor: pointer;
}

.postTitle{
  font-size: 18px;
  color: rgb(211, 200, 200);
  font-weight: 700;
  margin-top: 15px;
  cursor: pointer;
}

.post:hover .postTitle{
  color: rgb(183, 235, 100);
}

.postDate{
  font-size: 15px;
  font-style: italic;
  color: #999;
  margin-top: 15px;
}

.postDesc{
  font-size: 1rem;
  color: rgb(196, 189, 189);
  line-height: 24px;
  margin-top: 15px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}

.link{
  text-decoration: none;
}

.postBtn{
  margin-top: 20px;
}

.blogBtn{
  padding: 10px 15px;
  background-color: black;
  color: #fff;
  border: none;
}

.fa{
  margin-right: 10px;
}

@media screen and (max-width: 960px) {
  .post{
      width: 100%;
      margin: 0px 25px 40px 25px;
  }

  .imgContainer{
    height: 300px;
    margin: 0px 16px;
  }

  .postTitle{
    font-size: 16px;
    padding: 0rem 2rem;
  }

  .postDate{
    font-size: 13px;
    padding: 0rem 2rem;
  }

  .postDesc{
    font-size: 1rem;
    padding: 0rem 2rem;
  }

  .postBtn{
    margin-top: 20px;
    padding: 0rem 2rem;
  }

}